<div class="page-card">
    <ul>
        <li style="list-style-type: none; display: inline-block;">
            <div style="display: inline-block; vertical-align: top;">
                <p><i class="fas fa-lightbulb"></i>友情提示</p>
            </div>
        </li>
        <li>
            知识星球：知识星球专属面试小册/一对一提问交流/简历修改/职业规划建议/offer选择/模拟面试，欢迎加入
            <a href="<%- url_for(theme.menu.知识星球.url) %>" >成都央国企指南</a>
            知识星球（点击链接即可查看星球的详细介绍，一定确认自己需要再加入！）
        </li>
        <li>
            浣熊say&公众号：日常更新分享央国企相关干货内容，帮助大家快速获取央国企招聘、面试信息，欢迎加入
            <a href="<%- url_for(theme.menu.公众号.url) %>" >浣熊say</a>
            公众号，免费公众号希望都大家关注下～
        </li>
    </ul>
</div>

<style>
    .page-card {
        margin-top: 50px;
        background-color: rgba(117, 114, 254, 0.05);
        border-radius: 10px;
        padding: 15px;
        padding-bottom: 20px;
        border-left: 6px solid rgba(117, 114, 254, 0.8); /* 添加深绿色边框 */
    }

    .page-card p{
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold; /* 设置文字加粗 */
        margin-top: 10px;
    }

    .page-card a{
        font-weight: bold; /* 设置文字加粗 */
    }
    .page-card a:hover{
        transform: scale(1.05); /* 鼠标悬停时放大 */
    }
    .page-card li{
        font-weight: bold; /* 设置文字加粗 */
        margin: 5px;
    }
    .page-card .fa-lightbulb {
        /* 添加图标的样式，例如设置大小等 */
        font-size: 1em;
        margin-bottom: 20px;
        color: rgba(117, 114, 254, 0.8);
        padding-right: 10px;
    }
</style>

