
<aside class="catalog-container">
  <div class="toc-main">
    <strong class="toc-title">Catalog</strong>
      <%- toc(page.content, {"class": "toc-nav", "list_number": false}) %>
  </div>
</aside>
